<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.FirstAidGuide"
        tools:targetApi="31">
        <activity
            android:name="saidivyatejas3466626.developed.firstaidapp.PatientProfileActivity"
            android:exported="false" />
        <activity
            android:name="saidivyatejas3466626.developed.firstaidapp.ContactUsActivity"
            android:exported="false" />
        <activity
            android:name="saidivyatejas3466626.developed.firstaidapp.EmergenciesContactsActivity"
            android:exported="false" />
        <activity
            android:name="saidivyatejas3466626.developed.firstaidapp.FirstAidGuidelinesActivity"
            android:exported="false" />
        <activity
            android:name="saidivyatejas3466626.developed.firstaidapp.SymptomCheckerActivity"
            android:exported="false" />
        <activity
            android:name="saidivyatejas3466626.developed.firstaidapp.HospitalDetailsActivity"
            android:exported="false" />
        <activity
            android:name="saidivyatejas3466626.developed.firstaidapp.ViewHospitalsLocationActivity"
            android:exported="false" />
        <activity
            android:name="saidivyatejas3466626.developed.firstaidapp.ViewGuidelinesActivity"
            android:exported="false" />
        <activity
            android:name="saidivyatejas3466626.developed.firstaidapp.SearchGuidelinesActivity"
            android:exported="false" />
        <activity
            android:name="saidivyatejas3466626.developed.firstaidapp.FirstAidDashActivity"
            android:exported="false" />
        <activity
            android:name="saidivyatejas3466626.developed.firstaidapp.SetupAccountActivity"
            android:exported="false" />
        <activity
            android:name="saidivyatejas3466626.developed.firstaidapp.AccountAccessActivity"
            android:exported="false" />
        <activity
            android:name="saidivyatejas3466626.developed.firstaidapp.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.FirstAidGuide">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBbjh-tqqnt6bChHRv8ZI9wY0R9w5Z_MSI" />
    </application>

</manifest>